body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #030a1d;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #333;
    transition: background-color 0.3s ease;
}

h1 {
    text-align: center;
    color: #2980b9;
    transition: color 0.3s ease;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.note {
    border: 1px solid #3498db;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ecf0f1;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.note p {
    margin: 0;
}

.note-date {
    font-size: 12px;
    color: #555; /* Цвет даты */
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c0392b;
}
