<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="../styles/area-style.css">
</head>
<body>
    <div class="header">
        <a class="logo" href="../templates/main.html">
          <img src="../images/motivation.png" alt="Logo" />
          <p class="title">Motivatry</p>
        </a>
        <nav class="navbar">
          <a href="#home">Главная</a>
          <a href="#aboutus">Мы</a>
          <a href="#courses">Возможности</a>
          <a href="#widgets">Виджеты</a>
          <a href="#quotes">Мотивация</a>
        </nav>
      </div>
    <h1>Личный кабинет</h1>

    <div class="user-info">
        <div class="field">
            <strong>Имя:</strong>
            <span id="userName"></span>
        </div>
        <div class="field">
            <strong>Фамилия:</strong>
            <span id="userSurname"></span>
        </div>
        <div class="field">
            <strong>Почта:</strong>
            <span id="userEmail"></span>
        </div>
        <div class="field">
            <strong>Пол:</strong>
            <span id="userGender"></span>
        </div>
        <div class="field">
            <button id="logoutButton" onclick="deleteUserFromLocalStorage()">Выйти</button>
        </div>
    </div>
    
    <script src="../scripts/area-script.js"></script>
    <script src="../scripts/form-script.js"></script>
</body>
</html>