<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="../styles/cabinet-style.css">
</head>
<body>
    <h1>Личный кабинет</h1>

    <div class="user-info">
        <div>
            <strong>Имя:</strong>
            <span id="userName"></span>
        </div>
        <div>
            <strong>Фамилия:</strong>
            <span id="userSurname"></span>
        </div>
        <div>
            <strong>Возраст:</strong>
            <span id="userAge"></span>
        </div>
        <div>
            <strong>Почта:</strong>
            <span id="userEmail"></span>
        </div>
        <div>
            <strong>Пол:</strong>
            <span id="userGender"></span>
        </div>
    </div>
    <script src="../scripts/cabinet-scripts.js"></script>
    <script src="../scripts/form-script.js"></script>
</body>
</html>