<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Motivatry</title>
    <link rel="stylesheet" href="../styles/main-style.css" />
  </head>
  <body>
    <div class="header">
      <a class="logo" href="../templates/main.html">
        <img src="../images/motivation.png" alt="Logo" />
        <p class="title">Motivatry</p>
      </a>
      <nav class="navbar">
        <a href="#home">Главная</a>
        <a href="#aboutus">Мы</a>
        <a href="#courses">Возможности</a>
        <a href="#widgets">Виджеты</a>
        <a href="#quotes">Мотивация</a>
        <a id="area" onclick="check_registration()" href="">Личный кабинет</a>
      </nav>
    </div>
    <div id="home" class="section">
      <h1>Добро пожаловать в Motivatry</h1>
      <p>Начните свой путь к успеху прямо сейчас!</p>
    </div>

    <div id="aboutus" class="section">
      <div class="title-container">
        <h2 class="title-prefix">НАШ</h2>
        <h2 class="title-main">MOTIVATRY</h2>
      </div>
      <p>
        Откройте перед собой увлекательный мир самоанализа. Наше приложение не
        просто фиксирует ваши эмоции, но и помогает вам раскрывать их суть. Мы
        предлагаем различные инструменты и аналитику, основанную на ваших личных
        данных, чтобы вы могли глубже понять себя и свое внутреннее состояние
      </p>
      <a href="../templates/form.html" class="start">Начать</a>
    </div>

    <div id="courses" class="opportunities">
      <div class="sectionBlocks">
        <div class="block block1">
          <div class="details">
            Насладитесь нашими музыкальными подборками – от веселья до покоя,
            здесь есть что-то для каждого настроения!
          </div>
        </div>
        <div class="block block2">
          <div class="details">
            Океан вдохновения: подборка вдохновляющих статей и книг для личного
            роста
          </div>
        </div>
        <div class="block block3">
          <div class="details">
            Мы следим за вашими успехами, чтобы вы всегда оставались на верном
            пути.
          </div>
        </div>
      </div>
    </div>

    <div id="widgets" class="widgets-section">
      <div class="widget_wrapper">
        <div class="widget" id="todoWidget">
          <h3>Список дел</h3>
          <p>Управляйте своими задачами эффективно</p>
          <a href="../templates/todo.html" class="widget-button">Перейти к списку дел</a>
        </div>
        <div class="widget" id="notesWidget">
          <h3>Заметки</h3>
          <p>Сохраняйте свои мысли и идеи в одном месте</p>
          <a href="../templates/note.html" class="widget-button">Перейти к заметкам</a>
        </div>
        <div class="widget" id="notesWidget">
          <h3>Музыка</h3>
          <p>Гармония под любое настроение с нашими плейлистами</p>
          <a href="play.html" class="widget-button">Слушать</a>
        </div>
      </div>
  </div>
    <div id="quotes" class="section">
      <p id="quoteText"></p>
    </div>

    <footer>
      <p>2023 Motivatry. Все права защищены.</p>
    </footer>

    <script src="../scripts/main-script.js"></script>
    <script src="../scripts/form-script.js"></script>
  </body>
</html>
