<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivatry</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="header">
    <img src="../images/motivation.png" alt="Logo">
    <nav class="navbar">
      <a href="#home">Главная</a>
      <a href="#aboutus">Мы</a>
      <a href="#courses">Возможности</a>
      <a href="#pricing">Pass</a>
      <a href="#pass">Pass</a>
      <a href="#quotes">Мотивация</a>
      <a href="#login">Login</a>
    </nav>
  </div>

  <div id="home" class="section">
    <h1>Добро пожаловать в Motivatry</h1>
    <p> Начните свой путь к успеху прямо сейчас!</p>
  </div>

  <div id="aboutus" class="section">
    <h2>About Us</h2>
    <p>Information about our organization and mission.</p>
  </div>
  <p class="sposobnosti">Возможности</p>
  <div id="courses" class="sectionBlocks">
    <div class="block">
      <div class="details">Запишите свои мысли прямо сейчас и дайте своим идеям шанс расцвести!</div>
    </div>
    <div class="block">
      <div class="details">Насладитесь нашими музыкальными подборками – от веселья до покоя, здесь есть что-то для каждого настроения!</div>
    </div>
    <div class="block">
      <div class="details">Мы следим за вашими успехами, чтобы вы всегда оставались на верном пути.</div>
    </div>
  </div>

  <div id="pricing" class="section">
    <h2>Pricing</h2>
    <p>Information on our pricing structure and offers.</p>
  </div>

  <div id="contact" class="section">
    <h2>Contact Us</h2>
    <p>How to get in touch with us.</p>
  </div>

  <div id="pass" class="section">
      <h2>Contact Us</h2>
      <p>How to get in touch with us.</p>
  </div>

  <div id="motivation" class="section">
      <h2>Contact Us</h2>
      <p>How to get in touch with us.</p>
  </div>

  <div id="quotes" class="section">
      <p id="quoteText"></p> <!-- Placeholder for quotes -->
    </div>

    
  <footer>
      
      <!-- Footer content here -->
  </footer>

  <script src="../scripts/scripts.js"></script>

</body>
</html>
