<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Веб-заметки</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../styles/note-style.css">
    <link rel="icon" href="../images/note-favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header">
        <a class="logo" href="../templates/main.html">
          <img src="../images/motivation.png" alt="Logo" />
          <p class="title">Motivatry</p>
        </a>
        <nav class="navbar">
            <a href="main.html#home">Главная</a>
            <a href="main.html#aboutus">Мы</a>
            <a href="main.html#courses">Возможности</a>
            <a href="main.html#widgets">Виджеты</a>
            <a href="main.html#quotes">Мотивация</a>
          <a id="area" onclick="check_registration()" href="">Личный кабинет</a>
        </nav>
    </div>

    <div id="app">
        <h1>Ваши заметки</h1>
        <div id="notes-container"></div>
        <textarea id="note-input" placeholder="Введите вашу заметку"></textarea>
        <button onclick="addNote()">Добавить заметку</button>
        <button onclick="deleteAllNotes()">Удалить все заметки</button>
        <input type="text" id="search-input" placeholder="Поиск по заметкам" oninput="searchNotes()">
    </div>
    <script src="../scripts/note-script.js"></script>
</body>
</html>
