<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Motivatry playlist</title>
    <link rel="stylesheet" href="../styles/play-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lato:wght@400;700&family=Merriweather:wght@300&family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="main">
        <div class="main__rectangle">
            <img class="main__img" src="../images/stay_calm.png">
            <h1 class="main__title">Calmness</h1>
            <a class="main__button" href="https://vk.com/music?access_key=5cbed82860c6f072a6&z=audio_playlist264854944_27%2F5cbed82860c6f072a6">Слушать</a>
            <a class="main__button1" href="https://music.yandex.com/users/chernikovaaa55/playlists/1003">Слушать</a>
        </div>
        <div class="main__rectangle">
            <img class="main__img" src="../images/crummy_motive.png">
            <h1 class="main__title">Confused</h1>
            <a class="main__button" href="https://vk.com/music?access_key=5cbed82860c6f072a6&z=audio_playlist264854944_27%2F5cbed82860c6f072a6">Слушать</a>
            <a class="main__button1" href="https://music.yandex.com/users/chernikovaaa55/playlists/1003">Слушать</a>
        </div>
        <div class="main__rectangle">
            <img class="main__img" src="../images/joyful_motive.png">
            <h1 class="main__title">Just go ahead</h1>
            <a class="main__button" href="https://vk.com/music?access_key=5cbed82860c6f072a6&z=audio_playlist264854944_27%2F5cbed82860c6f072a6">Слушать</a>
            <a class="main__button1" href="https://music.yandex.com/users/chernikovaaa55/playlists/1003">Слушать</a>
        </div>
    </main>
  </body>