<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled To-Do List</title>
    <link rel="stylesheet" href="../styles/todo-style.css">
</head>
<body>

    <div class="header">
        <a class="logo" href="../templates/main.html">
          <img src="../images/motivation.png" alt="Logo" />
          <p class="title">Motivatry</p>
        </a>
        <nav class="navbar">
            <a href="main.html#home">Главная</a>
            <a href="main.html#aboutus">Мы</a>
            <a href="main.html#courses">Возможности</a>
            <a href="main.html#widgets">Виджеты</a>
            <a href="main.html#quotes">Мотивация</a>
          <a id="area" onclick="check_registration()" href="">Личный кабинет</a>
        </nav>
    </div>

    <div id="app">
        <h1>Список дел</h1>
        <div class="input-container">
            <input type="text" id="task-input" placeholder="Введите вашу задачу">
            <button onclick="addTask()">Добавить</button>
        </div>
        <div id="todo-container"></div>
    </div>
    <script src="../scripts/todo-script.js"></script>
</body>
</html>
