body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans',sans-serif;;
}

.header {
    background: #20232a;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header img {
    height: 50px;
}

.title {
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-weight:bold;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, border-radius 0.3s;
    background-color: #20232a;
    border-radius: 5px;
    border: solid #20232a;
}

.navbar a:hover {
    background: #6441a5;   
}

.navbar a:active {
    background-color: #6441a5;
    border: solid white;
}

h1 {
    color: #333;
}

.user-info {
    margin-top: 20px;
}

.user-info div {
    margin-bottom: 10px;
}