* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.main {
    height: 100vh;
    background: -webkit-linear-gradient(140deg, #020232, #d26352); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(140deg, #020232, #d26352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.header {
    background: #20232a;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header img {
    height: 50px;
}

.title {
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-weight:bold;
}

.navbar {
    height: 79px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, border-radius 0.3s;
    background-color: #20232a;
    border-radius: 5px;
    border: solid #20232a;
}

.navbar a:hover {
    background: #6441a5;   
}

.navbar a:active {
    background-color: #6441a5;
    border: solid white;
}

.wrapper {
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: #FFF;
    box-shadow: 0 2px 20px 0 rgba(21 20 53 / 10%);
}

.wrapper__title {
    padding-top: 60px;
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #20232a;
}

.registration-form {
    width: 344px;

}

.registration-form__label {
    color: #262E73;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    display: block;
    cursor: pointer;
}

.age-container {
    margin-bottom: 10px;
}

.text__style {
    color: #262E73;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.registration-form__content {
    margin-bottom: 10px;
}

.registration-form__input {
    width: 92%;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #262E73;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    position: relative;
    padding-left: 20px;
}

.registration-form__input::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.registration-form__input-password {
    width: 92%;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #262E73;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding-left: 20px;
    position: relative;
}

.registration-form__input-password:focus {
    content: "";
    font-size: 30px;
    font-weight: 800;
    color: #262E73;
}

.registration-form__input-password::placeholder{
    top: 20px;
    position: absolute;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.registration-form__radio {
    margin-bottom: 25px;
}

.registration-form__gender-label {
    color: #262E73;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.registration-form__gender-options{
    position: relative;
    color: #282828;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    accent-color: #262E73;
}

.registration-form__gender-radio{
    margin-right: 25px;
}


.registration-form__checkbox-group {
    display: flex;
    align-items: start;
}

.registration-form__checkbox-input {
    accent-color: #262E73;
    border: 2px solid #262E73; /* Цвет рамки чекбокса */
}

.registration-form__checkbox {
    margin-bottom: 20px;
}

.registration-form__checkbox-label {
    margin-left: 8px;
    width: 320px;
    height: 36px;
    color: #9FA3A9;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.registration-form__button {
    cursor: pointer;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 342px;
    height: 52px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(38 46 115 / 10%);
    margin-bottom: 92px;
    background: #20232a;
}

.password-container {
    position: relative;
}

.eye-icon {
	position: absolute;
	top: 20px;
	right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}

.show-password {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat; /* Путь к изображению открытого глаза */
}

.validation-error {
    color: red;
    display: block;
    /* margin-top: 5px; */
}